<section class="section">
  <div class="container">
    <div class="columns is-centered ">
      <div id="form-div" class="column is-one-third has-background-info">
        <h2 id="form-title" class="title has-text-white has-background-info-dark p-2">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div>
           <%= render "devise/shared/error_messages", resource: resource %>
          </div>
         

          <div class="field">
            <%= f.label :email , class: "label has-text-white"%>
            <div class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "example@example.com", class: "input" %>
              
              <span class="icon is-small is-left">
                <i class="fas fa-at"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :username, class: "label has-text-white"%>
            <div class="control has-icons-left">
              <%= f.text_field :username, class: "input"%>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: "label has-text-white"%>
            <div class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class="help has-text-white">
              <% if @minimum_password_length %>
                <%= @minimum_password_length %> characters minimum
              <% end %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label has-text-white" %>
            <div class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div> 
          </div>

          <div class="field">
            <%= f.label :first_name, class: "label has-text-white"%>
            <div class="control">
              <%= f.text_field :first_name, placeholder: "John" ,class: "input"%>
            </div>
          </div>

          <div class="field">
            <%= f.label :last_name, class: "label has-text-white"%>
            <div class="control">
              <%= f.text_field :last_name, placeholder: "Doe", class: "input"%>
            </div>
          </div>

          <div class="field">
            <%= f.label :phone_number, class: "label has-text-white"%>
            <div class="control has-icons-left">
              <%= f.text_field :phone_number, class: "input", placeholder: "+1 206 555 0100"%>
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </div>
            <p class="help has-text-white">
              Optional
            </p>
          </div>

          <div class="field">
            <%= f.label :birth_date, class: "label has-text-white"%>
            <div class="control has-text-weight-bold has-text-white is-flex is-align-items-cente">
              <div class="select mr-2 is-small">
                <%= f.date_select :birth_date, start_year: Date.today.year - 14, end_year: Date.today.year - 100, date_separator: '</div>-<div class="select mx-2 is-small">' %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :nationality, class: "label has-text-white"%>
            <p class="control has-icons-left">
              <span class="select is-small">
                <%= f.country_select :nationality%>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </p>
          </div>
        
          <div class="buttons is-right mt-5">
            <%= link_to user_facebook_omniauth_authorize_path, method: :post, class:"button is-small" do%>
              <span class="icon has-text-info">
                <i class="fab fa-facebook-square"></i>
              </span>
              <span>Facebook</span>
            <% end %>
            
            <%= render "devise/shared/links" %>
            <%= f.submit "Sign up", class: "button is-info is-inverted" %>
            <%= link_to 'Back', :back , class: "button is-info is-inverted"%>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</section>






