<article id="user_resume" class="media box m-2 flex">
  <figure class="media-left is-align-self-center">
    <p class="image is-64x64">
      <%= image_tag user_avatar(user), class:"is-rounded" %>
    </p>
  </figure>
  <div class="columns">
    <div class="column media-content">
      <div class="content mb-1">
        <p>
          <strong class="title is-4"><%= user.full_name %></strong> <small><%= user.username %></small>
        </p>
      </div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div class="stats">
            <p class="heading">Posts</p>
            <p class="title"><%= user.posts.count%></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="stats">
            <p class="heading">Friends</p>
            <p class="title"><%= user.friends.count%></p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</article>