<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to user.full_name, user_path(user)%></strong> <small><%=user.username%></small>
        <br>
        <%= user.nationality_name %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <% unless current_user.friends.include?(user) %>
      <% request = user.friend_requests_as_requestor.find {|r| r.receiver_id == current_user.id}%>
      <% if request %>
        <%= link_to "Accept", friend_request_path(request), method: :put, class: "button is-success" %>
      <% else %>
        <% if current_user.receivers.include?(user)%>
          <%= button_tag "Pending request", class:"button is-info", disabled: true%>
        <% else %>
          <%= link_to "Send request", friend_requests_path(friend_request: {:receiver_id => user.id}),method: :post, class: "button is-success" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "Delete friend", friendship_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
    <% end %>
  </div>
</article>


