<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div id="form-div" class="column is-one-third has-background-info">
      <h2 id="form-title" class="title has-text-white has-background-info-dark p-2">
        Change password
      </h2>
        <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
          <div class="field">
            <%= f.label :password, "Password",class: "label has-text-white"  %>
            <div class="control">
              <%= f.password_field :password, :autocomplete => "off", class:"input"  %>
            </div>
          </div>
          <div class="field">
            <%= f.label :password_confirmation,class: "label has-text-white"  %>
            <div class="control">
              <%= f.password_field :password_confirmation, class:"input" %>
            </div>
            
          </div>
            <div class="field">
            <%= f.label :current_password,class: "label has-text-white" %>
            <div class="control">
              <%= f.password_field :current_password, class:"input" %>
            </div>
            <p class="help has-text-white">
              <i>(we need your current password to confirm your changes)</i>
            </p>
          </div>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <%= f.submit "Update password", class:"button is-info is-inverted"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


