<section class="section py-2">
  <div class="container box p-0">
    <article class="media box mb-3 is-flex has-background-info">
      <figure class="media-left">
        <p class="image is-48x48">
          <%= image_tag user_avatar(post.author) %>
        </p>
      </figure>
      <div class="media-content is-align-self-center">
        <div class="content has-text-white">
          <strong class="is-size-5 has-text-white"><%= post.author.full_name%></strong> <small><%= distance_of_time_in_words_to_now(post.created_at)%> ago.</small>
        </div>
      </div>
    </article>
    <div class="container mx-3">
      <%=post.content%>
    </div>
    
    <nav id="btn_bar" class="level m-3 p-2">
      <div class="level-left">
          <% vote = @votes.nil? ? @votes : @votes.find{ |p| p.post_id == post.id} %>
          <%= render "likes/vote_buttons", vote: vote, post: post%>
          <% unless current_page?(post_path(post))%>
            <%= link_to "Respond to", post_path(post)%>
          <% end %>
      </div>
    </nav>
  </div>
  
  <% if current_page?(post_path(post)) %>
    <%= render "comments/form", commentable: @post %>
    <%= render @post.comments%> 
  <% end %>
</section>

